<link rel="stylesheet" type="text/css" href="reset.css">
*, *:before, *:after {
  box-sizing: border-box;
}
.mobile-frame {
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  color: #FFFFFF;
  position: relative;
  width: 375px;
  height: 667px;
  overflow: scroll;
  background:linear-gradient(180deg, #78C69E
      0.01%, #3AB4AA 0.02%,
      #153243 0.03%, #086F66
      67.4%)
}
.column {
  float: left;
  width: 20%;
  margin-top, margin-bottom, margin-left, margin-right:5%;
  width: 100%;
  display:inline-grid;
  float: left;
}

.search-bar {

  position: absolute;
  left: 2.13%;
  right: 2.13%;
  top: 62.71%;
  bottom: 6.78%;
  mix-blend-mode: normal;
}

.Header{
  position: absolute;
  width: 375px;
  height: 118px;
  left: 0px;
  top: 0px;
}
article h2 {
  font-weight: bold;
}

h1 {

  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.00615385em;
}
h2 {
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: -0.00615385em;
}
h3 {
  font-size: 10px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.012em;
}
.Background-Frame {
  position: absolute;
  left: 0%;
  right: -93.33%;
  top: 93.22%;
  bottom: -400.85%;
  overflow: scroll;

article h4 {
  position: absolute;
width: 125px;
height: 12px;
left: 0px;
top: 652px;

font-family: SF Pro Text;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: normal;
text-align: center;
letter-spacing: 0.012em;
}
article h5 {

position: absolute;
width: 125px;
height: 12px;
left: 125px;
top: 652px;
font-size: 10px;
}
article h6 {
  position: absolute;
width: 125px;
height: 12px;
left: 251px;
top: 652px;
font-size: 10px;
}
