<head>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
</head>
*, *:before, *:after {
  box-sizing: border-box;
}
.iphone{
  position: absolute;
  width: 375px;
  height: 667px;
  overflow: scroll;
  font-family: SF Pro Text;
  color: #FFFFFF;
  position: relative;
  background:linear-gradient(180deg, #78C69E
    0.01%, #3AB4AA 0.02%,
    #153243 0.03%, #086F66
    67.4%);
}
.frame{
  width:725px;
  height:481px;
  background-image: url("../../images/Seattle Background.jpg)");
}
h2{
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  letter-spacing: -0.62%;
}
h3{
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -2.41%
}
a{
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1.2%;
  color: #FFFFFF
}
.mobile-signal-type, .battery-percentage, .time{
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  position:static;
  border-top: -2px;
  display: inline-block;
}
.back-button, .back-button-text, .userpic, h1{
  position:relative;
  display: inline-block;
}
.arrival-countdown{
  font-size: 25px;
}
.busnumber{
  font-size: 55px;
  line-height: 18px;
  letter-spacing: 0%;
  color: #FFEF66;
}
.timeinmin{
    color: #FFEF66;
}
